--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
fastapi
langchain_community
langchain_core
langchain_huggingface
pandas
pydantic
python-dotenv
supabase
uvicorn
google-genai
faiss-cpu
numpy
python-multipart