--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
sentence-transformers
fastapi
langchain-huggingface
langchain-community
langchain
pandas
pydantic
python-dotenv
supabase
uvicorn
google-genai
faiss-cpu
numpy
python-multipart